<div class="fatura">
    <table class="table moserat thead-dark">
        <thead>
            <th> Produto</th>
            <th> Quantidade</th>
            <th> Valor unitario</th>
            <th> Valor Total</th>
        </thead>
        <tbody id="produtos">
        </tbody>
    </table>

</div>
<div class=" left ">
    <button class="btn btn-violeto" id="faturar"><i class="fa fa-cart-arrow-down"></i> FINALIZAR VENDA (F8)</button>
    <div class="row">
        <div class="card moserat">
            <small>
                Total
            </small>
            <br>
            <p id="total_pag" class="valor">00</p>
            <p class="moeda">Kz</p>
        </div>
        <div class="card moserat">
            <small>
                Desconto
            </small>
            <br>
            <p class="valor">00</p>
            <p class="moeda">Kz</p>
        </div>
    </div>
</div>

<!--Modal Relatorios-->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            ...
        </div>
    </div>
</div>