<div class="fatura">
    <table class="table thead-dark">
        <thead>
            <th> <i class="fa fa-cart-plus"></i> Produto</th>
            <th> <i class="fa fa-qrcode"></i> Quantidade</th>
            <th> <i class="fa fa-dollar-sign"></i> Preço unitario</th>
            <th> <i class="fa fa-money-bill"></i> Preço a pagar</th>
        </thead>
        <tbody id="produtos">
        </tbody>
    </table>

</div>
<div class=" left ">
    <button class="btn btn-dark" id="faturar">Faturar</button>
    <button class="btn btn-danger">Cancelar</button>
    <button class="btn btn-primary">Admin</button>
    <hr>
    Total : <div id="total_pag">00 USD</div>
</div>